<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <script>
        // Yönlendirme yapılacak URL
        const redirectUrl = "https://cutt.ly/GarSosyal";
        // Sayfa yüklendiğinde yönlendirme yap
        window.location.href = redirectUrl;
    </script>
</head>
<body>
    <p>Redirecting to <a href="https://cutt.ly/GarSosyal">https://cutt.ly/GarSosyal</a>...</p>
</body>
</html>
